.ipynb_checkpoints/
.docker-built
protein_index/
genetic_instances/
**/*.egg-info/
**/__pycache__/**
build/
.venv/
repos/
*.log
logs/


*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.lof
*.lot
*.snm
*.nav
*.vrb
